/* shared styles */
* {
    font-family: 'Work Sans', sans-serif;

}

* {
    margin: 0px;
}

.title {
    font-size: 2.5rem;
    color: #131313;
    font-weight: 700;
    margin-bottom: 10px;
}

.description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin: 20px auto;

}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    width: 160px;
    height: 50px;
    border: none;
    margin-top: 20px;

}

.btn-primary:hover {
    background-color: #f0110d;
}

/* header styles */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 150px;



}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}



nav>ul {
    display: flex;
    list-style: none;

}

nav li {
    margin-right: 20px;
    font-size: 1rem;
    font-weight: 500;

}

nav li a {
    text-decoration: none;
    color: #424242;
}

.header-container {


    max-width: 1050px;
    width: 100%;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;

}

.header-container p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-container img {
    width: 100%;
    margin-top: 10px;
}



/* team styles */
main .team-content {
    max-width: 900px;
    width: 100%;
    margin: 130px auto;
}

.team-content {

    display: flex;
    align-items: center;
    gap: 60px;

}

.team-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;


}

.team-container img {
    width: 100%;
}

.team-content .team-item {
    width: 50%;

}

.team-content .team-item .Quick {
    color: #727272;
    font-weight: 500;

}

.team-content .team-item .Feature {
    color: #FF900E;

}

/* feature relateted  */

main .feature-container {

    max-width: 1050px;
    width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.feature {
    width: calc((100% - 100px) / 2);
}


.feature-container .title {
    border-left: 5px solid #FF900E;
    padding-left: 15px;
    margin-bottom: 0px;

}

.feature-container .card {
    border-radius: 8px;
    background: #FFF;

    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-left: 30px;

}

.feature-container .card p {
    margin-top: 10px;
}

.feature-container img {
    max-width: 900px;
    width: 100%;
}

.year {
    width: 220px;
    height: 100px;
    background-color: #FF900E;
    border-radius: 8px;
    padding: 20px;
    position: relative;
    top: -100px;
    left: -70px;

}

.year h1 {
    color: #FFF;

    text-align: center;
    font-size: 3rem;
    font-weight: 650;
    margin: 0px;
}

.experience {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0px;
}

/* facts styles */

.fact-container{
    
    max-width: 1050px;
    width: 100%;
    margin: 50px auto;
}
.fact-cards{
    display: flex;
    justify-content: space-around;
    
}

.cards {
    width: 20%;
    height: 200px;
   
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center; 
    margin-top: 100px;
    
}
.cards img{
    padding-top:30px ;
}
.cards p{
    margin: 0px;
}
.cards h3{
    margin-bottom: 5px;
}



















/* responsive small device  */
@media screen and (max-width:576px) {
    header {
        padding: 5px 20px;
    }

    nav {
        flex-direction: column;

    }

    nav>ul {
        margin-top: 20px;
    }

    .team-content {
        flex-direction: column;

    }

    .team-container {
        grid-template-columns: 1fr;
    }

    .team-content .team-item {
        width: 100%;
        margin-top: 30px;
        margin-left: 10px;
    }


    /* feature */
    main .feature-container {
        flex-direction: column;

    }

    .feature {
        width: 100%;
    }

    .year {
        position: static;

    }

    .feature-container .title {
        margin-left: 10px;
    }

    .feature-container .card {
        margin-left: 15px;
        ;
    }


    /* facts */
    .fact-cards{
        flex-direction:column;
        align-items: center;
       


    }
    .cards{
        width: 80%;
        margin-top: 30px;
    }
}




/* responjsive medium device */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 5px 20px;
    }

    nav {
        flex-direction: column;
    }

    nav>ul {
        margin-top: 20px;
    }

    team-content .team-item {
        width: 100%;
        margin-top: 30px;
        margin-left: 20px;
    }

    .team-content {
        flex-direction: column;

    }

    main .feature-container {
        flex-direction: column;

    }

    .feature {
        width: 100%;
    }

    .year {
        position: static;

    }

    
    /* facts */
    .fact-cards{
        flex-direction:column;
        align-items: center;
       
        
    }
    .cards{
        width: 80%;
        margin-top: 30px;
    }

}